
.searchBar {
    display: flex;
    align-items: center;
    background-color: white; 
    padding: 10px;
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    
}
  
  .inputBox {
    flex: 1; 
    border: none;
    background-color: #fff; 
    color: #333; 
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    outline: none; 
   
  }
  input[type="text"] {
    border-radius: 3px;
    border: 2px solid #000; 
    font-weight: bold;
  }
  
  .searchIcon {
    color: #333;
    font-size: 24px;
    margin-right: 10px;
  }
  
 
  .inputBox::placeholder {
    color: #333; 
    font-weight: bold;
  }
  